@model CorrectionFinale.ViewModels.UtilisateurViewModel
@{
    Layout = "_layout";
    ViewBag.Title = "Connexion";
}

<p>
    Veuillez remplir les champs ci-dessous pour créer votre compte :
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => Model.Utilisateur.Nom) :
        @Html.TextBoxFor(m => Model.Utilisateur.Nom)
        @Html.ValidationMessageFor(m => Model.Utilisateur.Nom)
    </div>

    <div>
        @Html.LabelFor(m => Model.Utilisateur.Mdp) :
        @Html.PasswordFor(m => Model.Utilisateur.Mdp)
    </div>
    <input type="submit" value="Connexion" />

}

@section Menu {
    <ul>
        <li class="selectionne">@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Liste des films", "ListeFilms", "Home")</li>
        <li>@Html.ActionLink("Ajouter un visionnage", "AjoutVisionnage", "Film")</li>
    </ul>

}