@model CorrectionJ2.Models.Utilisateur //On précise le ViewModel (cad l'objet attaché à la vue)
@{
    Layout = "_layout";
    ViewBag.Title = "Créer compte";
}

<p>
    Veuillez remplir les champs ci-dessous pour créer votre compte :
</p>
@{
//On veut récupérer des donnée de l'utilisateur via un formulaire,
//On les stocke dans le ViewModel

        /*
    @Html.LabelFor(m => Model.Nom) : ce qu'on veut afficher pour indiquer quoi saisir
    @Html.TextBoxFor(m => Model.Nom) input de comment on le saisit
    @Html.ValidationMessageFor(m => Model.Nom) //affichage du message d'erreur s'il y en a un


    <input type="submit" value="Je crée mon compte" />
    Le formulaire se finit toujours par un bouton de type submit
    c'est lui qui déclenche la requète httpPost
            */
}

@using (Html.BeginForm()) //<form> on démarre le formulaire
{ // pour chacune des valeur on fait une div
<div>
    @Html.LabelFor(m => Model.Nom) : 
    @Html.TextBoxFor(m => Model.Nom) 
    @Html.ValidationMessageFor(m => Model.Nom)
</div>

<div>
    @Html.LabelFor(m => Model.Mdp) :
    @Html.PasswordFor(m => Model.Mdp)
</div>

<input type="submit" value="Je crée mon compte" />

//<\form> On termine le formulaire 
}

@section Menu {
    <ul>
        <li class="selectionne">@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Liste des films", "ListeFilms", "Home")</li>
        <li>@Html.ActionLink("Ajouter un visionnage", "AjoutVisionnage", "Film")</li>
    </ul>

}